body {
    background-color: rgb(255, 188, 210);
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: verdana;
}

h2 {
    color: rgb(116, 25, 0);
    font-family: arial;
    text-align: left
}
a {
    color: rgb(255, 255, 255);
    font-family: arial;
    text-align: left;
}